// This file contains all application-wide Sass variables.

/// Text color
/// @type Color
$text-white: #ffffff;
$text-black:  #2B3B4E;
$text-active: #F5A621;


/// Bg color
/// @type Background
$bg-white: #ffffff;
$bg-gray: #F4F7FA;
$bg-gray-icon: #CCD0D5;
$bg-active: #F5A621;
$bg-black:  #2B3B4E;

